/*--  services --*/

.service-menu-items {
    display: flex;
    flex-wrap: wrap;
}

.service-menu-items li {
    flex: 1 1 33.33%;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.service-menu-items li a {
    /* border-radius: 0; */
    text-decoration: none;
    color: #444444;
    padding: 20px 10px 0px;
}
/* 
.service-menu-items li a:active,
.service-menu-items li a:focus
{
    background-color: brown !important;
    color: white;
} */
/* 
.service-menu-items li.active > a,
.service-menu-items li.active > a:hover,
.service-menu-items li.active > a:focus {
    background-color: red;
    color: white;
} */
/*-- // services --*/



/*-- Responsive design --*/

@media(max-width: 1080px){
}
@media(max-width: 991px){
	
}
@media(max-width: 800px){
}
@media(max-width: 768px){
	h3.heading {
		font-size: 45px;
	}
}
@media(max-width: 667px){
	
	
}
@media(max-width: 568px){
	h3.heading {
		font-size: 40px;
	}
}

@media(max-width: 384px){
	h3.heading {
		font-size: 35px;
		letter-spacing: 1px;
	}
}
@media(max-width: 375px){
	
}

/*-- //Responsive design --*/