/*-- Testimonials --*/

.testimonial-item-list{
    padding: 0px 80px;
}

/* .testimonial-item-info{
    position: relative;
    display: inline-block;
} */

.testimonial-item-top {
    border: 2px solid #0973b9;
    background-color: whitesmoke;
    margin-top: -40px;
}

/* .testimonial-item-top:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 40%;
	width: 0;
	height: 0;
	border-top: 15px solid #E91E63;
	border-right: 4px solid transparent;
	border-left: 12px solid transparent;
	transform: rotate(0deg);
} */

.testimonial-item-top p {
	color: #333;
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
    padding:20px;
    padding-bottom: 40px;
    margin: 0;
	line-height: 2em;
}


.testimonial-item-grids {
    width: 50%;
    margin: 20px auto;
    margin-top: -25px;

	/* margin: 1em 0 0; */
}

.testimonial-item-img img {
    width: 50%;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* border: 2px solid #0973b9; */
    
}

.testimonial-item-info {
    margin: 0 1em !important;
}

.testimonial-item-img-info {
    text-align: center;
    
}

.testimonial-item-img-info h5 {
	color: #333;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	margin-top: .5em;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}


@media all and (max-width: 667px){
    .testimonial-item-list{
        padding: 0 30px;
    }
}

