.social li{
	display: inline-block;
    width: auto;
    float: none;
}
.social li a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
}
/* .social li a:hover {
    color: #E91E63;
} */
/*-- footer --*/
footer {
    background: #cdcdcd;
    /* background: #7d91e7; */
}
footer .social ul li a {
    font-size: 13px;
    display: block;
    color: #e4405f;
    background: #34465d;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
     margin: 0;
}
.social ul li a:hover {
    background: #ddd;
    color: rgb(192, 57, 86);
}

.footer-grid-middle p {
    margin: 0;
    color: #555;
    font-size: 16px;
    line-height: 28px;
}
.footer-grid-middle h4,.follow-us-grid h4 {
    font-size: 26px;
    color: #0973b9;
    text-transform: capitalize;
    margin-bottom: .6em;
    letter-spacing: 1px;
}

.footer-grid-left img{
   margin-top: -30px !important;
}

.footer-grid-left img {
    height: 192px;
    width: 192px;
    /* border: 3px solid palegoldenrod; */
}
.copyright p {
    font-size: 15px;
    color: #555;
    letter-spacing: 1px;
    line-height: 28px;
}
.copyright p a{
    color: #0973b9;
}
.copyright p a:hover {
    color: #e91e63;
}
/*-- //footer --*/

/* -- Responsive design --*/


@media(max-width: 1080px){
	
	.footer-grid-middle p {
		font-size: 15px;
	}
}
@media(max-width: 1024px){
	
	.footer-grid-middle h4, .follow-us-grid h4 {
		font-size: 24px;
	}
	.footer-grid-left img {
        /* height: 250px;
        width: 250px; */
	}
}
@media(max-width: 991px){
	
	.footer-grid-left img {

	}
	
}

@media(max-width: 600px){
	.footer-grid-middle h4, .follow-us-grid h4 {
		font-size: 20px;
	}
	
}

@media(max-width: 480px){
	
	.social li a {
		font-size: 16px;
        margin: 0 8px;
	}
}
@media(max-width: 414px){
	
	
}
@media(max-width: 384px){
	
	.footer-grid-left img {
        height: 160px;
        width: 160px;
	}
	
}

/*-- //Responsive design -- */