.image-gallery-container {
    /* background: linear-gradient(to bottom right, #72b7ef 0%, #2080fa 100%); */
    background-color: #0973b9;
    padding: 50px;
}
.image-gallery-heading {
    font-size: 40px;
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    font-family: 'Lato', sans-serif;
}
.image-gallery-container p {
    font-size: 12pt;
    color: whitesmoke;
    /* font-weight: 600; */
    font-family: 'Lato', sans-serif;
    /* font-weight: 400; */
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
}
.image-gallery {
    /* background-color: teal; */
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px;
    
}

.image-item {
    flex: 0 1 33.33%; /* flex-grow: 0, flex-shrink: 1 and each item takes only 33.33% width */
    padding: 15px;
}

.image-item img {
    border-radius: 8px;
    transition: transform .4s;
}

.image-item img:hover {
    transform: scale(1.1);
}


@media all and (max-width: 900px){
    .image-gallery {
        padding: 0px;
        
    }
    .image-item {
        flex: 0 1 50%; /*flex-grow: 0, flex-shrink: 1 and  each item takes only 50% width */
    }
    .image-gallery-container p {
        font-size: 15px;  
        width: 90%
    }
    .image-gallery-heading {
        font-size: 30px;
    }
   
}

@media all and (max-width: 500px){
    .image-gallery {
        padding: 10px;
        
    }
    .image-item {
        flex: 0 1 100%; /*flex-grow: 0, flex-shrink: 1 and  each item takes 100% width*/
    }
    .image-gallery-container {
        padding: 20px;
    }
    .image-gallery-heading {
        font-size: 25px;
    }

    .image-gallery-container p {
        font-size: 15px;  
        width: 80%
    }
}