/* Google font Lato  */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Lato", sans-serif;
   /* background-color: #cecece62; */
}

body a {
   text-decoration: none;
   transition: 0.5s all;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   -ms-transition: 0.5s all;
   /* font-family: 'PT Sans Caption', sans-serif; */
   font-family: "Lato", sans-serif;
}

a:hover {
   text-decoration: none;
}

input[type="button"],
input[type="submit"] {
   transition: 0.5s all;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   -ms-transition: 0.5s all;
}

ul {
   margin: 0;
   padding: 0;
}
